@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #63666a;
}
:root {
  --color: #e5e4e5;
  --primary: #006939;
  --primary02: #034525;
  --primary03: #009879;
}
// $primary: #006939;
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}
img {
  max-width: 100%;
  width: 100%;
}
.pointer {
  cursor: pointer;
}

.txt-center,
.center {
  text-align: center;
}
.w-50 {
  width: 50px;
}
.w-70 {
  width: 70px;
}
.w-100 {
  width: 100px;
}

.mb-4 {
  margin-bottom: 16px;
}
.main {
  min-height: calc(100vh - 120px);
  margin-top: 16px;
}
.page-title {
  font-size: 26px;
  color: var(--primary);
}
.head-view-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  a {
    text-decoration: underline;
    font-weight: 500;
    color: var(--primary);
  }
}
